.searchForm {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchForm-input {
  width: 938px;
  height: 40px;
  padding: 0 auto;
  padding-left: 10px;
  font-size: 16px;
}
